# Starknet Configuration
STARKNET_PRIVATE_KEY=your_private_key_here
STARKNET_ACCOUNT_ADDRESS=0x00A83be8B481Db9888DC51E685B7540c283DfD5Cdb36a6a18DCE7361514550f2
STARKNET_RPC_URL=https://starknet-sepolia.public.blastapi.io/rpc/v0_7

# Contract Address (will be filled after deployment)
CONTRACT_ADDRESS=

# API Configuration
PORT=3010
